###########################################################################
#Pin mappings and timing constraints here are based on the SCROD_revA4.   #
#Please update the pin mappings if using a different board, and add the   #
#file with a new name in the repository.                                  #
#If you are not compiling in USB or fiberoptic functionality, you will    #
#have to comment out the appropriate portion below.  I hope these regions #
#are self explanatory.                                                    #
###########################################################################
#IM 6/11/14: Needs some work 

#-----------------------------------------------------------------------------------
#XS 9/30/2014: 
#		modified regular signal pins for SCROD RevA4 and TARGETX 9U Motherboard RevB
#					USB -- done
#					120-pin CONN nets -- DONE
#					clocks -- DONE
#					FTSW -- mapped (IM)
#					fiber optics -- mapped (IM)
#					SRAM -- mapped  (IM)
#					LEDs	-- mapped (IM)
#-----------------------------------------------------------------------------------

#-----------------------------------------------------------------------------------
#mRICH modifications 
# Date: 7/2018
# Editor: Tommy Lam
#      Notes: SR_CLR, RD_ENA, DONE, and MON_TIMING are not used
#             Many of the STD_LOGIC_VECTOR have changed length or indexing
#
#-----------------------------------------------------------------------------------

####################General SCROD IOs######################################


#General SCROD clocking
NET BOARD_CLOCKP LOC=T3;	#SPARE CLOCKP: U23
NET BOARD_CLOCKN LOC=T1;	#SPARE CLOCKN: U24

#Clock Constraints
################################################################
#At the pin
NET "klm_scrod_trig_interface/ttdclkp" TNM_NET = "TTD_CLK";
NET "klm_scrod_trig_interface/sys_clk2x_ib" TNM_NET = SYS_CLK2X;
#TIMESPEC TS_TTD_CLK = PERIOD "TTD_CLK" 7.861 ns HIGH 50%;# im: one off commented out to make sure it meets timing

#Internal - may be duplicated but software generated names are nonsense
NET "klm_scrod_trig_interface/sys_clk_ib" TNM_NET = "SYS_CLK";
NET "klm_scrod_trig_interface/sys_clk_ib" TNM = "SYS_CLK_GRP";
TIMESPEC TS_SYS_CLK = PERIOD "SYS_CLK" 7.861 ns HIGH 50%;

#NET "klm_scrod_trig_interface/sys_clk2x_ib" TNM = "SYS_CLK2X_GRP";
TIMESPEC TS_SYS_CLK2X = PERIOD "SYS_CLK2X" TS_SYS_CLK / 2 HIGH 50%;
#Select number BUFGs to get trigger bits to map without CLOCKDEDICATEDROUTE
#NET "target_tb*<*><*>" TNM_NET = "TNM_TTB";
#TIMESPEC TS_TTB = PERIOD "TNM_TTB" 100000 ns HIGH 12 ns;


#NET "map_clock_gen/internal_BOARD_CLOCK" TNM_NET = BOARD_CLOCK;
#TIMESPEC "TS_BOARD_CLOCK" = PERIOD "BOARD_CLOCK" 8 ns HIGH 50%;
#NET "map_clock_gen/internal_LOCAL_CLOCK" TNM_NET = BOARD_CLOCK;
#TIMESPEC "TS_LOCAL_CLOCK" = PERIOD "BOARD_CLOCK" 8 ns HIGH 50%;

#PIN "map_clock_gen/map_ASIC_CTRL_clock_bufg.O" CLOCK_DEDICATED_ROUTE = FALSE; #for chipscope debug
#PIN "map_clock_gen/map_ASIC_CTRL_clock_bufg.O" CLOCK_DEDICATED_ROUTE = false; #for chipscope debug
#PIN "map_clock_gen/map_ASIC_CTRL_WILK_clock_bufg.O" CLOCK_DEDICATED_ROUTE = TRUE; #for chipscope debug
#PIN "map_clock_gen/map_FPGA_LOGIC_clock_bufg.O" CLOCK_DEDICATED_ROUTE = false; #for chipscope debug2

#NET "map_clock_gen/CLOCK_ASIC_CTRL" TNM_NET = "ASIC_CLK";
#TIMESPEC TS_ASIC_CLK = PERIOD "ASIC_CLK" 15.7220 ns high 50%; # for FTSW derived clock
#TIMESPEC TS_ASIC_CLK = PERIOD "ASIC_CLK" 15.7213 ns high 50%; #for local board clock?

NET "map_clock_gen/CLOCK_FPGA_LOGIC" TNM_NET = "FPGA_CLK";
TIMESPEC TS_FPGA_CLK = PERIOD "FPGA_CLK" 15.7220 ns high 50%; # for FTSW derived clock
#TIMESPEC TS_FPGA_CLK = PERIOD "FPGA_CLK" 16 ns high 50%; #for local board clock @ 125MHz locak osc?

####### FOR KLM_SCROD AURORA CLOCK
#8/31/15: Must be commented out if it is not a KLM build (for example an ethernet build)
#INST klm_scrod_trig_interface/aurora_ins/klm_aurora_ins/gtp_wrapper_i/gtp_tile_inst/CCL?_GEN.gtpa1_dual_i LOC=GTPA1_DUAL_X0Y1;


SYSTEM_JITTER=1000 ps;

#PIN "aurora_ins/klm_aurora_ins/gtp_wrapper_i/GTP_TILE_INST/gtpa1_dual_i.CLK01" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "aurora_ins/klm_aurora_ins/gtp_wrapper_i/GTP_TILE_INST/gtpa1_dual_i.CLK10" CLOCK_DEDICATED_ROUTE = FALSE;

################################################################
#Muli-Cycle Path Constraints
################################################################
#NET "tdc_ce[*]" TNM_NET = FFS "TDC_2X_GRP";
#TIMESPEC TS_TDC_2X = FROM "TDC_2X_GRP" TO "TDC_2X_GRP" TS_TTD_CLK * 2;

###########################################################
# Timing ignore constraints
###########################################################
NET "mgttxfault*[*]" TIG;
NET "mgtmod0*[*]" TIG;
NET "mgtlos*[*]" TIG;
NET "mgttxdis*[*]" TIG;
NET "mgtmod2*[*]" TIG;
NET "mgtmod1*[*]" TIG;
NET "ex_trig*" TIG;

# [Clk_0 period * N cycles]
TIMESPEC TS_CCD_TDC2SYS = FROM "SYS_CLK_GRP" TO "SYS_CLK2X_GRP" TS_SYS_CLK2X DATAPATHONLY;
# [Clk_1 period * N cycles]
TIMESPEC TS_CCD_SYS2TDC = FROM "SYS_CLK2X_GRP" TO "SYS_CLK_GRP" TS_SYS_CLK2X DATAPATHONLY;


#Diagnostics on LEDs (2.5 V and 3.3 V )- on the USB daughtercard which sits on MB RevB
#Connected LEDS' location on the USB DC is actually the MONx location
#LEDS 0-9 are on top row of the USB DC
#LEDS 10-12 are on bottom row of the USB DC
#Rest of the LEDS are not connected to anywhere.
#NET LEDS<0>  LOC=E1;# | IOSTANDARD = LVCMOS33; 	#MON0
#NET LEDS<1>  LOC=E2;# | IOSTANDARD = LVCMOS33; 	#MON1
#NET LEDS<2>  LOC=D1 | OUT_TERM=UNTUNED_50;# | IOSTANDARD = LVCMOS33; #MON2
NET LEDS<3>  LOC=C1;# | IOSTANDARD = LVCMOS33; 	#MON3
NET LEDS<4>  LOC=C2;# | IOSTANDARD = LVCMOS33; 	#MON4
NET LEDS<5>  LOC=B1;# | IOSTANDARD = LVCMOS33; 	#MON5
NET LEDS<6>  LOC=K10;# | IOSTANDARD = LVCMOS33; #MON6
NET LEDS<7>  LOC=J9;# | IOSTANDARD = LVCMOS33; 	#MON7
NET LEDS<8>  LOC=L10;# | IOSTANDARD = LVCMOS33; #MON8
NET LEDS<9>  LOC=K9;# | IOSTANDARD = LVCMOS33; 	#MON9
NET LEDS<10> LOC=F5 | IOSTANDARD = LVCMOS33; 	#MON16
NET LEDS<11> LOC=A4 | IOSTANDARD = LVCMOS33; 	#MON17
NET LEDS<12> LOC=D5 | IOSTANDARD = LVCMOS33; 	#MON18


##Jumper to choose between FTSW and local clock##
#NET MONITOR_INPUT<0>  LOC=J2 | IOSTANDARD = LVCMOS25 | PULLUP; #currently wrong???

####FTSW Pin mappings######- with KLM_SCROD instantiated
##FTSW IO -- use LVDS_25 for real usage
NET RJ45_ACK_P		LOC = "ad14" | IOSTANDARD = LVDS_25;# | diff_term=true;
NET RJ45_ACK_N		LOC = "af14" | IOSTANDARD = LVDS_25;#  | diff_term=true;
NET RJ45_TRG_P		LOC = "ab14" | IOSTANDARD = LVDS_25 | diff_term=true;
NET RJ45_TRG_N		LOC = "ac14" | IOSTANDARD = LVDS_25 | diff_term=true;
NET RJ45_CLK_P		LOC = "ae13" | IOSTANDARD = LVDS_25 | diff_term=true;
NET RJ45_CLK_N		LOC = "af13" | IOSTANDARD = LVDS_25 | diff_term=true;
NET RJ45_RSV_P		LOC = "ae15" | IOSTANDARD = LVCMOS25;# | diff_term=true;
NET RJ45_RSV_N		LOC = "af15" | IOSTANDARD = LVCMOS25;# | diff_term=true;

###############################
##SFP
###############################
NET MGTTXFAULT[1] LOC=A5 | IOSTANDARD=LVCMOS33;
NET MGTTXDIS[1]   LOC=E8 | IOSTANDARD=LVCMOS33;
NET MGTMOD2[1]    LOC=A12 | IOSTANDARD=LVCMOS33;
NET MGTMOD1[1]    LOC=B12 | IOSTANDARD=LVCMOS33;
NET MGTMOD0[1]    LOC=C5 | IOSTANDARD=LVCMOS33;
NET MGTLOS[1]     LOC=B5  | IOSTANDARD=LVCMOS33;
NET mgtRXP LOC=D7;
NET mgtRXN LOC=C7;
NET mgtTXP LOC=B6;
NET mgtTXN LOC=A6;
NET mgtclk0p      LOC = B10  | IOSTANDARD = LVDS_25;#TTD clock
NET mgtclk0n      LOC = A10  | IOSTANDARD = LVDS_25;
NET mgtclk1p      LOC = D11 | IOSTANDARD = LVDS_25;#onboard oscillator
NET mgtclk1n      LOC = C11 | IOSTANDARD = LVDS_25;

################################
###Fake
################################
#NET STATUS_FAKE   LOC=F16 | IOSTANDARD=LVCMOS33;
#NET CONTROL_FAKE  LOC=J17 | IOSTANDARD=LVCMOS33;
##

####################USB IOs and timing constraints###########################
#NET USB_IFCLK   LOC = "C13" | IOSTANDARD = LVCMOS33; # on SCROD revA2, IFCLK is connected to b14
#NET "map_readout_interfaces/map_daq_fifo_layer/internal_USB_CLOCK" TNM_NET = IFCLK_48M;
#TIMESPEC "TS_IFCLK_48M" = PERIOD "IFCLK_48M" 20.833 ns HIGH 50%;
#NET USB_CLKOUT  LOC = "A13" | IOSTANDARD = LVCMOS33; # on SCROD revA2, CLKOUT is connected to e13
#NET USB_FDD<0>  LOC = "G10"  | IOSTANDARD = LVCMOS33;
#NET USB_FDD<1>  LOC = "F11"  | IOSTANDARD = LVCMOS33;
#NET USB_FDD<2>  LOC = "J11"  | IOSTANDARD = LVCMOS33;
#NET USB_FDD<3>  LOC = "H12"  | IOSTANDARD = LVCMOS33;
#NET USB_FDD<4>  LOC = "J12"  | IOSTANDARD = LVCMOS33;
#NET USB_FDD<5>  LOC = "K12"  | IOSTANDARD = LVCMOS33;
#NET USB_FDD<6>  LOC = "D13"  | IOSTANDARD = LVCMOS33;
#NET USB_FDD<7>  LOC = "E13"  | IOSTANDARD = LVCMOS33;
#NET USB_FDD<8>  LOC = "F12"  | IOSTANDARD = LVCMOS33;
#NET USB_FDD<9>  LOC = "E12"  | IOSTANDARD = LVCMOS33;
#NET USB_FDD<10> LOC = "G11"  | IOSTANDARD = LVCMOS33;
#NET USB_FDD<11> LOC = "H10" | IOSTANDARD = LVCMOS33;
#NET USB_FDD<12> LOC = "F10" | IOSTANDARD = LVCMOS33;
#NET USB_FDD<13> LOC = "H9"  | IOSTANDARD = LVCMOS33;
#NET USB_FDD<14> LOC = "F9"  | IOSTANDARD = LVCMOS33;
#NET USB_FDD<15> LOC = "H8" | IOSTANDARD = LVCMOS33;
#NET USB_PA0     LOC = "G7"  | IOSTANDARD = LVCMOS33;
#NET USB_PA1     LOC = "G6"  | IOSTANDARD = LVCMOS33;
#NET USB_PA2     LOC = "E6"  | IOSTANDARD = LVCMOS33;
#NET USB_PA3     LOC = "E5"  | IOSTANDARD = LVCMOS33;
#NET USB_PA4     LOC = "B4"  | IOSTANDARD = LVCMOS33;
#NET USB_PA5     LOC = "C3"  | IOSTANDARD = LVCMOS33;
#NET USB_PA6     LOC = "B3"  | IOSTANDARD = LVCMOS33;
#NET USB_PA7     LOC = "G13"  | IOSTANDARD = LVCMOS33;
#NET USB_CTL0    LOC = "E10" | IOSTANDARD = LVCMOS33;
#NET USB_CTL1    LOC = "G9" | IOSTANDARD = LVCMOS33;
#NET USB_CTL2    LOC = "G8" | IOSTANDARD = LVCMOS33;
#NET USB_RDY0    LOC = "F7" | IOSTANDARD = LVCMOS33;
#NET USB_RDY1    LOC = "F6" | IOSTANDARD = LVCMOS33;
#NET USB_WAKEUP  LOC = "G12" | IOSTANDARD = LVCMOS33;

####################Fiberoptic IOs and timing constraints########################
#RX and TX for transceiver 0
#NET FIBER_0_RXP LOC=D7;
#NET FIBER_0_RXN LOC=C7;
#NET FIBER_0_TXP LOC=B6;
#NET FIBER_0_TXN LOC=A6;
#RX and TX for transceiver 1
#NET FIBER_1_RXP LOC=D9;
#NET FIBER_1_RXN LOC=C9;
#NET FIBER_1_TXP LOC=B8;
#NET FIBER_1_TXN LOC=A8;
# GT REFCLK for both transceivers
#NET FIBER_REFCLKP LOC=B10; 
#NET FIBER_REFCLKN LOC=A10; 

##Transceiver signals (3.3 V)
#NET FIBER_0_DISABLE_TRANSCEIVER LOC=E10 | IOSTANDARD = LVCMOS33;
##NET FIBER_0_LINK_ERR            LOC=    | IOSTANDARD = LVCMOS33; #TX_FAULT G12, TX_DIS E10, MOD0(mod_present_l) A13, LOS_0 B5
##NET FIBER_0_LINK_UP             LOC=    | IOSTANDARD = LVCMOS33; 
#NET FIBER_1_DISABLE_TRANSCEIVER LOC=G13 | IOSTANDARD = LVCMOS33;
##NET FIBER_1_LINK_ERR            LOC=    | IOSTANDARD = LVCMOS33; #TX_FAULT A5, TX_DIS G13, MOD0 J12, LOS_1 J13
##NET FIBER_1_LINK_UP             LOC=    | IOSTANDARD = LVCMOS33;

## UCF generated for xc6slx150t-fgg676-3 device
# 156.25MHz GTP Reference clock constraint 
#NET "map_readout_interfaces/map_daq_fifo_layer/synthesize_with_aurora.map_two_lane_aurora_interface/GTPD2_left_i" TNM_NET = GT_REFCLK; 
#TIMESPEC TS_GTPD2_LEFT_I = PERIOD "GT_REFCLK" 156.25 MHz HIGH 50%;

# User Clock Constraint: Value is selected based on the line rate (3.125 Gbps) and lane width (4-Byte)
#NET "map_readout_interfaces/map_daq_fifo_layer/internal_FIBER_USER_CLOCK" TNM_NET = USER_CLK;
#TIMESPEC TS_USER_CLK_I = PERIOD "USER_CLK" 78.125 MHz HIGH 50%;

#NET "map_readout_interfaces/map_daq_fifo_layer/internal_FIFO_CLOCK" TNM_NET = FIFO_CLK;
#NET "map_readout_interfaces/map_daq_fifo_layer/USB_FIFO_CLOCK" TNM_NET = FIFO_CLK;
#TIMESPEC TS_FIFO_CLK_I = PERIOD "FIFO_CLK" 20.833 ns HIGH 50%;# IM: 1/28/2015: brought out and measured on scope. it is 
#TIMESPEC TS_FIFO_CLK_I = PERIOD "FIFO_CLK" 78.125 MHz HIGH 50%;# old- but works! 8/31/2015
#TIMESPEC TS_FIFO_CLK_I = PERIOD "FIFO_CLK" 96.0154 MHz HIGH 50%;# new? -im 15/1/15 -im 15/1/22: not sure if it is needed!

# Sync Clock Constraint: Value is selected based on the line rate (3.125 Gbps) and lane width (4-Byte)
#NET "map_readout_interfaces/map_daq_fifo_layer/synthesize_with_aurora.map_two_lane_aurora_interface/sync_clk_0_i" TNM_NET = SYNC_CLK;
#TIMESPEC TS_SYNC_CLK_0 = PERIOD "SYNC_CLK" 312.5 MHz HIGH 50%;

#Site specifications.  Only the GTPA dual site is strictly necessary, as far as I know.
#INST map_readout_interfaces/map_daq_fifo_layer/synthesize_with_aurora.map_two_lane_aurora_interface/aurora_module_i/gtp_wrapper_i/gtp_tile_inst/gtpa1_dual_i LOC=GTPA1_DUAL_X0Y1;

#ASIC Related

##########################################################################
#Pin mappings and timing constraints here are based on the SCROD_revA3.

#TARGETX 9U Motherboard			JUN-11-2014
#The following was generated using a script to extract the code from the excel sheet entries (on right side)
#Then manually edited for bus routings

##NOTE THAT SINCE THIS IS A DIFFERENT PROJECT, THESE GUYS HAVE BEEN COMMENTED OUT
#They were left so we could have an idea of how they're implemented in the firmware
############################################################################


#NET BUSA_CLR				LOC= N9;		# BUSA_CLR                                 
##BUSA_DO sample           
#NET BUSA_DO<0>				LOC= N7;		# BUSA_DO_1                               
#NET BUSA_DO<1>				LOC= N6;		# BUSA_DO_2                                  

##RAMP and RD_CS example                 
#NET BUSA_RAMP				LOC=AC2;		# BUSA_RAMP,	J2_097_W7                                  
#NET BUSA_RD_COLSEL_S<0>				LOC= T6;		# BUSA_RD_CS_S0,	J2_088_W10                        
#NET BUSA_RD_COLSEL_S<1>				LOC= R3;		# BUSA_RD_CS_S1,	J2_089_W9                          

##RD_ENA and RD_RS example
#NET BUSA_RD_ENA						LOC= M10;		# BUSA_RD_ENA,	J2_082_AA11                          
#NET BUSA_RD_ROWSEL_S<0>				LOC= AD1;		# BUSA_RD_RS_S0,	J2_084_V10                        
#NET BUSA_RD_ROWSEL_S<1>				LOC= AE1;		# BUSA_RD_RS_S1,	J2_085_AB9                        
                

##Sample of SampleSel
#NET BUSA_SAMPLESEL_S<0>				LOC= AA4;		# BUSA_SAMPLESEL_S1,	J2_076_V13                
#NET BUSA_SAMPLESEL_S<1>				LOC= AA3;		# BUSA_SAMPLESEL_S2,	J2_077_Y12                
#NET BUSA_SAMPLESEL_S<2>				LOC= Y6;		# BUSA_SAMPLESEL_S3,	J2_078_Y13                

###Some of these signals have changed 
#NET BUSA_SCK_DAC						LOC= U15;         
#NET BUSA_DIN_DAC						LOC= U13;		# BUSA_DIN_DAC        
#NET BUSA_SR_CLEAR						LOC= AA7;		# BUSA_SR_CLEAR,	J3_019_Y6                          
#NET BUSA_SR_SEL						LOC= AB11;		# BUSA_SR_SEL,	J3_020_K9                              
#NET BUSA_WR_ADDRCLR					LOC= U3;		# BUSA_WR_ADDRCLR,	J2_096_AD5    


####NEED TO REPEAT FOR BUS B

#ONLY FOR REFERENCE
#NO NEED TO UNCOMMENT
#THINGS FOR mRICH ARE BELOW


###Other sample signals
#NET BUS_REGCLR				LOC= M9;         
#NET EX_TRIGGER_MB		LOC= V10 ; #Goes to a 2.5 V Bank on teh FPGA                
#NET EX_TRIGGER_SCROD	LOC= D22 | IOSTANDARD = LVCMOS33 | OUT_TERM=UNTUNED_50;  	#The on scrod ex_trigger  	   
#NET SCL_MON				LOC= A2    | IOSTANDARD = LVCMOS33;		# SCL_MON,	J3_021_H13_SCL0                          
#NET SDA_MON				LOC= A3    | IOSTANDARD = LVCMOS33;		# SDA_MON,	J3_023_F14_SDA0                          


####TARGETX Daughtercard#1
#NET TDC_CS_DAC<0>				LOC= V11;		# TDC1_CS_DAC,	J3_065_T19                            
#NET TDC_DONE<0>				LOC= K7;		# TDC1_DONE,	J1_105_G1                                  
#NET TDC_MON_TIMING<0>				LOC= M8;		# TDC1_MON_TIMING,	J1_106_B1                      
#NET PCLK<0>				LOC= H3;		# TDC1_PCLK,	J1_098_K1                                  
#NET SAMPLESEL_ANY<0>				LOC= L6;		# TDC1_SAMPLESEL_ANY,	J1_102_H1                
#NET SCLK<0>				LOC= K3;		# TDC1_SCLK,	J1_101_J1                                  
#NET SHOUT<0>				LOC= F3;		# TDC1_SHOUT,	J1_099_J2_SCL                        
#NET SIN<0>				LOC= M3;		# TDC1_SIN,	J1_097_L1                                    
#NET SR_CLOCK<0>				LOC= H6;		# TDC1_SR_CLOCK,	J1_103_G2    
                      
#NET SSTIN_N<0>				LOC= AA12 | IOSTANDARD = LVDS_25;		# TDC1_SSTIN_N,	J1_007_R1                            
#NET SSTIN_P<0>				LOC= Y12 | IOSTANDARD = LVDS_25;		# TDC1_SSTIN_P,	J1_008_R2                            
#NET WL_CLK_N<0>				LOC= AF5 | IOSTANDARD = LVDS_25;		# TDC1_WL_CLK_N,	J1_093_N1                          
#NET WL_CLK_P<0>				LOC= AE5 | IOSTANDARD = LVDS_25;		# TDC1_WL_CLK_P,	J1_091_N2   
                       
#NET WR1_ENA<0>				LOC= K5;		# TDC1_WR1_ENA,	J1_107_E2                            
#NET WR2_ENA<0>				LOC= H5;		# TDC1_WR2_ENA,	J1_109_B2     
                       
#NET TDC1_TRG<0>				LOC= L9;		# TDC1_TRG_1,	J1_087_G4                                
#NET TDC1_TRG<1>				LOC= K8;		# TDC1_TRG_2,	J1_089_F3                                
#NET TDC1_TRG<2>				LOC= D3;		# TDC1_TRG_3,	J1_090_E3                                
#NET TDC1_TRG<3>				LOC= L4;		# TDC1_TRG_4,	J1_094_M1                                
#NET TDC1_TRG<4>				LOC= G4;		# TDC1_TRG_5,	J1_095_L2                                


####TARGETX Daughtercard#2
#NET TDC_CS_DAC<1>				LOC= V13;		# TDC2_CS_DAC,	J3_064_R19                            
#NET TDC_DONE<1>				LOC= L7;		# TDC2_DONE,	J1_081_M3                                  
#NET TDC_MON_TIMING<1>				LOC= J7;		# TDC2_MON_TIMING,	J1_079_N3                      
#NET PCLK<1>				LOC= J3;		# TDC2_PCLK,	J1_078_N5                                  
#NET SAMPLESEL_ANY<1>				LOC= M6;		# TDC2_SAMPLESEL_ANY,	J1_083_K3                
#NET SCLK<1>				LOC= L3;		# TDC2_SCLK,	J1_077_P5                                  
#NET SHOUT<1>				LOC= G3;		# TDC2_SHOUT,	J1_074_T3                                
#NET SIN<1>				LOC= N3;		# TDC2_SIN,	J1_075_R4                                    
#NET SR_CLOCK<1>				LOC= K6;		# TDC2_SR_CLOCK,	J1_082_L3     
                     
#NET SSTIN_N<1>				LOC= AF4 | IOSTANDARD = LVDS_25;		# TDC2_SSTIN_N,	J1_069_W3                            
#NET SSTIN_P<1>				LOC= AD4 | IOSTANDARD = LVDS_25;		# TDC2_SSTIN_P,	J1_070_V4                            
#NET WL_CLK_N<1>				LOC= AD5 | IOSTANDARD = LVDS_25;		# TDC2_WL_CLK_N,	J1_062_AC4                        
#NET WL_CLK_P<1>				LOC= AC5 | IOSTANDARD = LVDS_25;		# TDC2_WL_CLK_P,	J1_063_AB5  
                      
#NET WR1_ENA<1>				LOC= E4;		# TDC2_WR1_ENA,	J1_085_J4                            
#NET WR2_ENA<1>				LOC= J5;		# TDC2_WR2_ENA,	J1_086_H5                            
#NET TDC2_TRG<0>				LOC= B2;		# TDC2_TRG_1,	J1_065_AB3                              
#NET TDC2_TRG<1>				LOC= L8;		# TDC2_TRG_2,	J1_066_AA3                              
#NET TDC2_TRG<2>				LOC= E3;		# TDC2_TRG_3,	J1_067_Y3                                
#NET TDC2_TRG<3>				LOC= M4;		# TDC2_TRG_4,	J1_071_U5                                
#NET TDC2_TRG<4>				LOC= J4;		# TDC2_TRG_5,	J1_073_U3                                


####TARGETX Daughtercard#3
#NET TDC_CS_DAC<2>				LOC= V16;		# TDC3_CS_DAC,	J3_062_R21                            
#NET TDC_DONE<2>				LOC= N1;		# TDC3_DONE,	J1_018_Y1                                  
#NET TDC_MON_TIMING<2>				LOC= R5;		# TDC3_MON_TIMING,	J1_022_AB1                    
#NET PCLK<2>				LOC= G1;		# TDC3_PCLK,	J1_026_AD1                                
#NET SAMPLESEL_ANY<2>				LOC= M1;		# TDC3_SAMPLESEL_ANY,	J1_010_T1                
#NET SCLK<2>				LOC= G2;		# TDC3_SCLK,	J1_031_E4                                  
#NET SHOUT<2>				LOC= H1;		# TDC3_SHOUT,	J1_006_P1                                
#NET SIN<2>				LOC= F1;		# TDC3_SIN,	J1_030_D3                                    
#NET SR_CLOCK<2>				LOC= N2;		# TDC3_SR_CLOCK,	J1_014_V1      
                    
#NET SSTIN_N<2>				LOC= AF6 | IOSTANDARD = LVDS_25;		# TDC3_SSTIN_N,	J1_015_W1                            
#NET SSTIN_P<2>				LOC= AD6 | IOSTANDARD = LVDS_25;		# TDC3_SSTIN_P,	J1_016_W2                            
#NET WL_CLK_N<2>				LOC= Y13 | IOSTANDARD = LVDS_25;		# TDC3_WL_CLK_N,	J1_011_U1                          
#NET WL_CLK_P<2>				LOC= W14 | IOSTANDARD = LVDS_25;		# TDC3_WL_CLK_P,	J1_012_U2     
                    
#NET WR1_ENA<2>				LOC= L2;		# TDC3_WR1_ENA,	J1_032_G3                            
#NET WR2_ENA<2>				LOC= L1;		# TDC3_WR2_ENA,	J1_034_H3                            
#NET TDC3_TRG<0>				LOC= T8;		# TDC3_TRG_1,	J1_110_D1                                
#NET TDC3_TRG<1>				LOC= T9;		# TDC3_TRG_2,	J1_111_C2                                
#NET TDC3_TRG<2>				LOC= J2;		# TDC3_TRG_3,	J1_113_C1                                
#NET TDC3_TRG<3>				LOC= J1;		# TDC3_TRG_4,	J1_114_E1                                
#NET TDC3_TRG<4>				LOC= K1;		# TDC3_TRG_5,	J1_115_F1                                


####TARGETX Daughtercard#4
#NET TDC_CS_DAC<3>				LOC= Y21;		# TDC4_CS_DAC,	J3_061_P21                            
#NET TDC_DONE<3>				LOC= U2;		# TDC4_DONE,	J1_048_U4                                  
#NET TDC_MON_TIMING<3>				LOC= V1;		# TDC4_MON_TIMING,	J1_050_V3                      
#NET PCLK<3>				LOC= U5;		# TDC4_PCLK,	J1_042_N4                                  
#NET SAMPLESEL_ANY<3>				LOC= R2;		# TDC4_SAMPLESEL_ANY,	J1_047_T4                
#NET SCLK<3>				LOC= U8;		# TDC4_SCLK,	J1_044_R3                                  
#NET SHOUT<3>				LOC= V7;		# TDC4_SHOUT,	J1_046_R5                                
#NET SIN<3>				LOC= U9;		# TDC4_SIN,	J1_043_P3                                    
#NET SR_CLOCK<3>				LOC= U1;		# TDC4_SR_CLOCK,	J1_054_Y5    
                      
#NET SSTIN_N<3>				LOC= AC6 | IOSTANDARD = LVDS_25;		# TDC4_SSTIN_N,	J1_023_AC1                          
#NET SSTIN_P<3>				LOC= AB7 | IOSTANDARD = LVDS_25;		# TDC4_SSTIN_P,	J1_024_AC2                          
#NET WL_CLK_N<3>				LOC= AA16 | IOSTANDARD = LVDS_25;		# TDC4_WL_CLK_N,	J1_019_AA1                        
#NET WL_CLK_P<3>				LOC= Y15 | IOSTANDARD = LVDS_25;		# TDC4_WL_CLK_P,	J1_020_AA2         
               
#NET WR1_ENA<3>				LOC= P1;		# TDC4_WR1_ENA,	J1_055_AA4                          
#NET WR2_ENA<3>				LOC= R1;		# TDC4_WR2_ENA,	J1_056_AB4                          
#NET TDC4_TRG<0>				LOC= W2;		# TDC4_TRG_1,	J1_035_J3                                
#NET TDC4_TRG<1>				LOC= W1;		# TDC4_TRG_2,	J1_036_J5                                
#NET TDC4_TRG<2>				LOC= V6;		# TDC4_TRG_3,	J1_038_K5                                
#NET TDC4_TRG<3>				LOC= V4;		# TDC4_TRG_4,	J1_039_L4                                
#NET TDC4_TRG<4>				LOC= W5;		# TDC4_TRG_5,	J1_040_M4                                



############################################################################
############################################################################
#The following below has been modified for the mRICH PMT readout 

#IDL_018_012 Transition Board - Left var.	JUN-13-2018
############################################################################
                             



##################BUSA Data Output############################
NET "BUSA_DO<1>"    LOC = "AF6";   #J2_13_AF6_L49N
NET "BUSA_DO<2>"    LOC = "AB1";  #J1_54_AB1
NET "BUSA_DO<3>"    LOC = "AC1";   #J1_55_AC1
NET "BUSA_DO<4>"    LOC = "AC2";   #J1_56_AC2
NET "BUSA_DO<5>"    LOC = "AF23";   #J2_49_AF23/MOSI/MOISO0
NET "BUSA_DO<6>"    LOC = "M9";   #J1_118_M9
NET "BUSA_DO<7>"    LOC = "M10";   #J1_119_M10
NET "BUSA_DO<8>"    LOC = "N3";   #J3_110_N3
NET "BUSA_DO<9>"    LOC = "K8";   #J3_28_K8
NET "BUSA_DO<10>"   LOC = "M6";   #J3_98_M6
NET "BUSA_DO<11>"   LOC = "L9";   #J3_29_L9
NET "BUSA_DO<12>"   LOC = "K9";   #J3_31_K9
NET "BUSA_DO<13>"   LOC = "J9";   #J3_90_J9
NET "BUSA_DO<14>"   LOC = "K7";   #J3_25_K7
NET "BUSA_DO<15>"   LOC = "L8";   #J3_93_L8
NET "BUSA_DO<16>"   LOC = "B2";   #J3_92_B2

NET "BUSA_WR_ADDCLR"					LOC = "K10";		#J3_089_K10 #originally BUSA_ADDCLR
NET "BUSA_CLR"                LOC = "W17";   	#J2_039_W17_L14P  
NET "BUSA_RAMP"					LOC = "AA13"		#J2_032_AA13_L36N
NET "BUSA_SR_SEL"					LOC = "M8";			#J3_027_M8


NET "BUSA_SAMPLESEL_S<1>"		LOC = "L7";			#J3_096_L7
NET "BUSA_SAMPLESEL_S<2>"		LOC = "K6";			#J3_097_K6
NET "BUSA_SAMPLESEL_S<3>"     LOC = "V20";   #J2_035_V20
NET "BUSA_SAMPLESEL_S<4>"     LOC = "U15";   	#J2_011_U15
NET "BUSA_SAMPLESEL_S<5>"			LOC = "AA2";		#J1_052_AA2

NET "BUSA_RD_RS_S<0>"         LOC = "W19";   #J2_043_W19/D2/MISO3
NET "BUSA_RD_RS_S<1>"         LOC = "V18";   #J2_041_V18/D1/MISO2
NET "BUSA_RD_RS_S<2>"         LOC = "W18";   #J2_040_W18_L14N

NET "BUSA_RD_COLSEL_S<0>"         LOC = "Y20";   	#J2_044_Y20_L4N
NET "BUSA_RD_COLSEL_S<1>"			LOC = "F3";			#J3_015_F3
NET "BUSA_RD_COLSEL_S<2>"			LOC = "K3";			#J3_012_K3
NET "BUSA_RD_COLSEL_S<3>"			LOC = "D3";			#J3_016_D3
NET "BUSA_RD_COLSEL_S<4>" 			LOC = "AB13";		#J2_031_AB13_L36P
NET "BUSA_RD_COLSEL_S<5>"         LOC = "AB15"; 		#J2_086_AB15_L28N



####################BUSB Data Output################################


##RD_ENA and RD_RS example
#NET BUSA_RD_ENA						LOC= M10;		# BUSA_RD_ENA,	J2_082_AA11                          

###Some of these signals have changed 
#NET BUSA_SCK_DAC						LOC= U15;         
#NET BUSA_DIN_DAC						LOC= U13;		# BUSA_DIN_DAC        
#NET BUSA_SR_CLEAR						LOC= AA7;		# BUSA_SR_CLEAR,	J3_019_Y6      #not being used                                             
  


NET "BUSB_DO<1>"    LOC = "Y3";   #J1_82_Y3 
NET "BUSB_DO<2>"    LOC = "W3";   #J1_83_W3 
NET "BUSB_DO<3>"    LOC = "V3";   #J1_85_V3
NET "BUSB_DO<4>"    LOC = "V5";   #J1_86_V5
NET "BUSB_DO<5>"    LOC = "U3";   #J1_87_U3
NET "BUSB_DO<6>"    LOC = "U4";   #J1_89_U4
NET "BUSB_DO<7>"    LOC = "T4";   #J1_91_T4
NET "BUSB_DO<8>"    LOC = "U7";   #J1_90_U7
NET "BUSB_DO<9>"    LOC = "L2";   #J1_19_L2
NET "BUSB_DO<10>"   LOC = "J2";   #J1_15_J2
NET "BUSB_DO<11>"   LOC = "V13";  #J2_112_V13
NET "BUSB_DO<12>"   LOC = "Y13";  #J2_109_Y13_L34N
NET "BUSB_DO<13>"   LOC = "E2";   #J1_7_E2
NET "BUSB_DO<14>"   LOC = "K1";   #J1_18_K1
NET "BUSB_DO<15>"   LOC = "Y17";  #J2_17_Y17_L16P
NET "BUSB_DO<16>"   LOC = "AA17"; #J2_19_AA17_L16N 

NET "BUSB_WR_ADDCLR"					LOC = "D1";			#J1_006_D1 #originally BUSB_ADDCLR
NET "BUSB_CLR"						LOC = "Y6"; 		#J1_079_Y6
NET "BUSB_RAMP"               LOC = "N6";  		#J1_113_N6
NET "BUSB_SR_SEL"					LOC = "J1";			#J1_016_J1

NET "BUSB_SAMPLESEL_S<1>"     LOC = "U13";   	#J2_009_U13
NET "BUSB_SAMPLESEL_S<2>"     LOC = "AF4";  	 	#J2_008_AF4_L51N
NET "BUSB_SAMPLESEL_S<3>"		LOC = "AB5";		#J1_073_AB5
NET "BUSB_SAMPLESEL_S<4>"		LOC = "AC4";		#J1_070_AC4
NET "BUSB_SAMPLESEL_S<5>"		LOC = "AC3";		#J1_071_AC3

NET "BUSB_RD_COLSEL_S<0>"			LOC = "AB4";		#J1_074_AB4
NET "BUSB_RD_COLSEL_S<1>"			LOC = "M1";			#J1_022_M1
NET "BUSB_RD_COLSEL_S<2>"         LOC = "N9"; 		#J1_117_N9
NET "BUSB_RD_COLSEL_S<3>"         LOC = "R9"; 		#J1_101_R9
NET "BUSB_RD_COLSEL_S<4>"			LOC = "N1";			#J1_024_N1
NET "BUSB_RD_COLSEL_S<5>"			LOC = "R10"; 		#J1_102_R10


NET "BUSB_RD_ROWSEL_S<0>"			LOC = "AB3";		#J1_75_AB3
NET "BUSB_RD_ROWSEL_S<1>"			LOC = "AA4";		#J1_077_AA4
NET "BUSB_RD_ROWSEL_S<2>"			LOC = "AA3"; 		#J1_078_AA3








###########################################################################


###Other sample signals     
#NET EX_TRIGGER_MB		LOC= V10 ; #Goes to a 2.5 V Bank on teh FPGA                
#NET EX_TRIGGER_SCROD	LOC= D22 | IOSTANDARD = LVCMOS33 | OUT_TERM=UNTUNED_50;  	#The on scrod ex_trigger  	   
#NET SCL_MON				LOC= A2    | IOSTANDARD = LVCMOS33;		# SCL_MON,	J3_021_H13_SCL0                          
#NET SDA_MON				LOC= A3    | IOSTANDARD = LVCMOS33;		# SDA_MON,	J3_023_F14_SDA0                          




#################################
#SCLK
NET "SCLK<0>"  LOC = G3;   #J3_106_G3 #DC 1
NET "SCLK<1>"  LOC = AE5;  #J2_007_AE5_L29P #DC 2
NET "SCLK<2>"  LOC = AE1;  #J1_059_AE1 #DC 3
NET "SCLK<3>"  LOC = F1;   #J1_010_F1 #DC 4

#SR_CLOCK
NET "SR_CLOCK<0>"  LOC = L6;  #J3_023_L6 #DC 1
NET "SR_CLOCK<1>"  LOC = J5;  #J3_100_J5 #DC 2
NET "SR_CLOCK<2>"  LOC = H1;  #J1_014_H1 #DC 3
NET "SR_CLOCK<3>"  LOC = L1;  #J1_020_L1 #DC 4

#note: there is an extra TDC3_SR_CLOCK in pin J1_34. Ignore that
##it isn't connected in the PCB so needs to be fixed in schematic


NET "SHOUT<0>"					LOC = "M4";			#J3_104_M4 #DC 1
NET "SHOUT<1>"  				LOC = "AD4";   	#J2_004_AD_L63P #DC 2
NET "SHOUT<2>"					LOC = "AA7";		#J1_063_AA7_L64P #DC 3
NET "SHOUT<3>"               LOC = "R3"; 		#J1_094_R3 DC 4

NET "SIN<0>"						LOC = "H3";			#J3_013_H3 #DC 1
NET "SIN<1>"						LOC = "J3";			#J3_108_J3 #DC 2
NET "SIN<2>"                LOC = "P10";  		#J1_109_P10 #DC 3
NET "SIN<3>"						LOC = "T9";			#J1_027_T9 #DC 4


NET "REGCLR"						LOC = "H6";			#J3_024_H6

##WR_ENA are bussed together so just treat them the same
NET "WR1_ENA<0>"					LOC = "L4";			#J3_017_L4
NET "WR1_ENA<1>"             LOC = "AB19";  	#J2_078_AB19_L18N
NET "WR1_ENA<2>"					LOC = "AD3";		#J1_069_AD3
NET "WR1_ENA<3>"              LOC = "R6"; 		#J1_097_R6

NET "WR2_ENA<0>"					LOC = "L4";			#J3_017_L4
NET "WR2_ENA<1>"             LOC = "AB19";  	#J2_078_AB19_L18N
NET "WR2_ENA<2>"					LOC = "AD3";		#J1_069_AD3
NET "WR2_ENA<3>"              LOC = "R6"; 		#J1_097_R6


NET "SAMPLESEL_ANY<0>"		LOC = "M3";			#J3_011_M3 #TDC1_TXA_SAMPLESEL_ANY
NET "SAMPLESEL_ANY<1>"		LOC = "F24";		#J4_012_F24 #TDC1_TXB_SAMPLESEL_ANY
NET "SAMPLESEL_ANY<2>"		LOC = "Y16";		#J2_036_Y16_L19N #TDC1_TXC_SAMPLESEL_ANY
NET "SAMPLESEL_ANY<3>"		LOC = "K5";			#J3_020_K5 #TDC1_TXD_SAMPLESEL_ANY

NET "SAMPLESEL_ANY<4>"		LOC = "L3";			#J3_109_L3 #TDC2_TXA_SAMPLESEL_ANY
NET "SAMPLESEL_ANY<5>"		LOC = "D26";		#J4_107_D26 #TDC2_TXB_SAMPLESEL_ANY
NET "SAMPLESEL_ANY<6>"		LOC = "V10";		#J2_003_V10 #TDC2_TXC_SAMPLESEL_ANY
NET "SAMPLESEL_ANY<7>"		LOC = "J4";			#J3_102_J4 #TDC2_TXD_SAMPLESEL_ANY

NET "SAMPLESEL_ANY<8>"		LOC = "P8";  		#J1_107_P8 #TDC3_TXA_SAMPLESEL_ANY
NET "SAMPLESEL_ANY<9>"		LOC = "H24";		#J4_020_H24 #TDC3_TXB_SAMPLESEL_ANY
NET "SAMPLESEL_ANY<10>"		LOC = "AA6"; 		#J1_065_AA6_L64N #TDC3_TXC_SAMPLESEL_ANY
NET "SAMPLESEL_ANY<11>"		LOC = "E1";			#J1_008_E1 #TDC3_TXD_SAMPLESEL_ANY

NET "SAMPLESEL_ANY<12>"		LOC = "T8";			#J1_028_T8 #TDC4_TXA_SAMPLESEL_ANY
NET "SAMPLESEL_ANY<13>"		LOC = "T26";		#J4_085_T26 #TDC4_TXB_SAMPLESEL_ANY
NET "SAMPLESEL_ANY<14>"		LOC = "R4"; 		#J1_095_R4 #TDC4_TXC_SAMPLESEL_ANY
NET "SAMPLESEL_ANY<15>"		LOC = "N2";			#J1_023_N2 #TDC4_TXD_SAMPLESEL_ANY

#PCLKs #same numbering scheme as PCLKs
NET "PCLK<0>"    LOC = E3;  	#J3_105_E3 #checked
NET "PCLK<1>"    LOC = F22;   #J4_015_F22 #checked
NET "PCLK<2>"    LOC = G4;   	#J3_019_G4 #checked
NET "PCLK<3>"    LOC = L10;  	#J3_032_L10 #checked

NET "PCLK<4>"    LOC = AF4;  	#J2_005_AF4_L63N #checked
NET "PCLK<5>"    LOC = B26;  	#J4_111_B26 #checked
NET "PCLK<6>"    LOC = U20;  	#J2_076_U20 #checked
NET "PCLK<7>"    LOC = B25;  	#J4_113_B25 #checked

NET "PCLK<8>"    LOC = AD1; 	#J1_058_AD1 #checked
NET "PCLK<9>"    LOC = G23; 	#J4_018_G23 #checked
NET "PCLK<10>"    LOC = U1;  	#J1_043_U1 #checked
NET "PCLK<11>"    LOC = B1;  	#J1_002_B1 #checked

NET "PCLK<12>"   LOC = P3;  	#J1_103_P3 #checked
NET "PCLK<13>"   LOC = P26;   	#J4_087_P26 #checked
NET "PCLK<14>"   LOC = R7;   	#J1_098_R7 #checked
NET "PCLK<15>"   LOC = M26;  	#J4_091_M26 #checked




#Other Differnetial Signals
NET "SSTIN_P<0>"       LOC = F23| IOSTANDARD = LVDS_25;    		#J4_014_F23 #checked TDC1_TXAC_SSTin_p
NET "SSTIN_N<0>"       LOC = G24| IOSTANDARD = LVDS_25;    		#J4_016_G24 #checked TDC1_TXAC_SSTin_n

NET "SSTIN_P<1>"       LOC = E23| IOSTANDARD = LVDS_25;   		#J4_011_E23 #checked TDC1_TXBD_SSTin_p
NET "SSTIN_N<1>"       LOC = E24| IOSTANDARD = LVDS_25;   		#J4_010_E24 #checked TDC1_TXBD_SSTin_n

NET "SSTIN_P<2>"   		LOC = E25| IOSTANDARD = LVDS_25;			#J4_106_E25 #checked TDC2_TXAC_SSTin_p
NET "SSTIN_N<2>"		LOC = E26| IOSTANDARD = LVDS_25;			#J4_105_E26 #checked TDC2_TXAC_SSTin_n

NET "SSTIN_P<3>"       LOC = C25| IOSTANDARD = LVDS_25;   		#J4_110_C25 #checked TDC2_TXBD_SSTin_p
NET "SSTIN_N<3>"       LOC = C26| IOSTANDARD = LVDS_25;   		#J4_109_C26 #checked TDC2_TXBD_SSTin_n

NET "SSTIN_P<4>"       LOC = N8| IOSTANDARD = LVDS_25;  			#J1_115_N8 #checked TDC3_TXAC_SSTin_p
NET "SSTIN_N<4>"       LOC = N7| IOSTANDARD = LVDS_25;  			#J1_114_N7 #checked TDC3_TXAC_SSTin_n

NET "SSTIN_P<5>"		LOC = G2| IOSTANDARD = LVDS_25;			#J1_011_G2 #checked TDC3_TXBD_SSTin_p
NET "SSTIN_N<5>"		LOC = G1| IOSTANDARD = LVDS_25;			#J1_012_G1 #checked TDC3_TXBD_SSTin_n

NET "SSTIN_P<6>"		LOC = AB10| IOSTANDARD = LVDS_25; 		#J1_062_AA10_L48P #checked TDC4_TXAC_SSTin_p
NET "SSTIN_N<6>"		LOC = AB11| IOSTANDARD = LVDS_25; 		#J1_061_AB11_L48N #checked TDC4_TXAC_SSTin_n


NET "SSTIN_P<7>"		LOC = N25| IOSTANDARD = LVDS_25; 			#J4_90_N25 #checked TDC4_TXBD_SSTin_p
NET "SSTIN_N<7>"		LOC = N26| IOSTANDARD = LVDS_25; 			#J4_89_N26 #checked TDC4_TXBD_SSTin_n



#WL_CLK


NET "WL_CLK_P<0>"  LOC = J25| IOSTANDARD = LVDS_25;  #J4_098_J25 #checked TDC1_TXAC_WL_CLK_p
NET "WL_CLK_N<0>"  LOC = J26| IOSTANDARD = LVDS_25;  #J4_097_J26 #checked TDC1_TXAC_WL_CLK_n

NET "WL_CLK_P<1>"  LOC = D24| IOSTANDARD = LVDS_25;  #J4_008_D23 #checked TDC1_TXBD_WL_CLK_p
NET "WL_CLK_N<1>"  LOC = C24| IOSTANDARD = LVDS_25;  #J4_006_C24 #checked TDC1_TXBD_WL_CLK_n


NET "WL_CLK_P<2>"  LOC = C2| IOSTANDARD = LVDS_25;   #J1_003_C2 #checked TDC2_TXAC_WL_CLK_p
NET "WL_CLK_N<2>"  LOC = C1| IOSTANDARD = LVDS_25;   #J1_004_C1 #checked TDC2_TXAC_WL_CLK_n

NET "WL_CLK_P<3>"  LOC = B24| IOSTANDARD = LVDS_25;  #J4_115_B24 #checked TDC2_TXBD_WL_CLK_p
NET "WL_CLK_N<3>"  LOC = A25| IOSTANDARD = LVDS_25;  #J4_114_A25 #checked TDC2_TXBD_WL_CLK_n


NET "WL_CLK_P<4>"  LOC = N5| IOSTANDARD = LVDS_25;    #J1_111_N5 #checked TDC3_TXAC_WL_CLK_p
NET "WL_CLK_N<4>"  LOC = N4| IOSTANDARD = LVDS_25;    #J1_110_N4 #checked TDC3_TXAC_WL_CLK_n

NET "WL_CLK_P<5>"  LOC = G25| IOSTANDARD = LVDS_25;  #J4_102_G25 #checked TDC3_TXBD_WL_CLK_p
NET "WL_CLK_N<5>"  LOC = G26| IOSTANDARD = LVDS_25;  #J4_101_G26 #checked TDC3_TXBD_WL_CLK_n


NET "WL_CLK_P<6>"  LOC = W8| IOSTANDARD = LVDS_25;  #J1_066_W8_L62P #checked TDC4_TXAC_WL_CLK_p
NET "WL_CLK_N<6>"  LOC = W7| IOSTANDARD = LVDS_25;  #J1_067_W7_L62N #checked TDC4_TXAC_WL_CLK_n

NET "WL_CLK_P<7>"  LOC = L25| IOSTANDARD = LVDS_25;  #J4_094_L25 #checked TDC4_TXBD_WL_CLK_p
NET "WL_CLK_N<7>"  LOC = L26| IOSTANDARD = LVDS_25;  #J4_093_L26 #checked TDC4_TXBD_WL_CLK_n


#Triggers

NET "TDC1_TXA_TRG<0>"            LOC = "W16";   #J2_037_W16_L19P
NET "TDC1_TXB_TRG<0>"            LOC = "D24";   #J4_007_D24
NET "TDC1_TXC_TRG<0>"            LOC = "AA13";  #J2_033_AA13_L36N
NET "TDC1_TXD_TRG<0>"				LOC = "H5";		#J3_021_H5

NET "TDC2_TXA_TRG<0>"            LOC = "AC6";   #J2_015_AC6_L53N
NET "TDC2_TXB_TRG<0>"            LOC = "F26";   #J4_103_F26
NET "TDC2_TXC_TRG<0>"            LOC = "AB21";  #J2_047_AB21_L15N
NET "TDC2_TXD_TRG<0>"				LOC = "E4";		#J3_101_E4

NET "TDC3_TXA_TRG<0>"            LOC = "P6";  	#J1_106_P6
NET "TDC3_TXB_TRG<0>"            LOC = "H26";   #J4_099_H26
NET "TDC3_TXC_TRG<0>"				LOC = "R2";		#J1_042_R2
NET "TDC3_TXD_TRG<0>"				LOC = "F1";		#J1_010_F1

NET "TDC4_TXA_TRG<0>"            LOC = "Y5";  	#J1_081_Y5
NET "TDC4_TXB_TRG<0>"            LOC = "W10";   #J2_021_W10_L50P
NET "TDC4_TXC_TRG<0>"             LOC = "R8"; 	#J1_099_R8
NET "TDC4_TXD_TRG<0>"				LOC = "R5";		#J1_026_R5

#####
NET "TDC1_TXA_TRG<1>"            LOC = "W16";   #J2_037_W16_L19P
NET "TDC1_TXB_TRG<1>"            LOC = "D24";   #J4_007_D24
NET "TDC1_TXC_TRG<1>"            LOC = "AA13";  #J2_033_AA13_L36N
NET "TDC1_TXD_TRG<1>"				LOC = "H5";		#J3_021_H5

NET "TDC2_TXA_TRG<1>"            LOC = "AC6";   #J2_015_AC6_L53N
NET "TDC2_TXB_TRG<1>"            LOC = "F26";   #J4_103_F26
NET "TDC2_TXC_TRG<1>"            LOC = "AB21";  #J2_047_AB21_L15N
NET "TDC2_TXD_TRG<1>"				LOC = "E4";		#J3_101_E4

NET "TDC3_TXA_TRG<1>"            LOC = "P6";  	#J1_106_P6
NET "TDC3_TXB_TRG<1>"            LOC = "H26";   #J4_099_H26
NET "TDC3_TXC_TRG<1>"				LOC = "R2";		#J1_042_R2
NET "TDC3_TXD_TRG<1>"				LOC = "F1";		#J1_010_F1

NET "TDC4_TXA_TRG<1>"            LOC = "Y5";  	#J1_081_Y5
NET "TDC4_TXB_TRG<1>"            LOC = "W10";   #J2_021_W10_L50P
NET "TDC4_TXC_TRG<1>"             LOC = "R8"; 	#J1_099_R8
NET "TDC4_TXD_TRG<1>"				LOC = "R5";		#J1_026_R5

###

NET "TDC1_TXA_TRG<2>"            LOC = "W16";   #J2_037_W16_L19P
NET "TDC1_TXB_TRG<2>"            LOC = "D24";   #J4_007_D24
NET "TDC1_TXC_TRG<2>"            LOC = "AA13";  #J2_033_AA13_L36N
NET "TDC1_TXD_TRG<2>"				LOC = "H5";		#J3_021_H5

NET "TDC2_TXA_TRG<2>"            LOC = "AC6";   #J2_015_AC6_L53N
NET "TDC2_TXB_TRG<2>"            LOC = "F26";   #J4_103_F26
NET "TDC2_TXC_TRG<2>"            LOC = "AB21";  #J2_047_AB21_L15N
NET "TDC2_TXD_TRG<2>"				LOC = "E4";		#J3_101_E4

NET "TDC3_TXA_TRG<2>"            LOC = "P6";  	#J1_106_P6
NET "TDC3_TXB_TRG<2>"            LOC = "H26";   #J4_099_H26
NET "TDC3_TXC_TRG<2>"				LOC = "R2";		#J1_042_R2
NET "TDC3_TXD_TRG<2>"				LOC = "F1";		#J1_010_F1

NET "TDC4_TXA_TRG<2>"            LOC = "Y5";  	#J1_081_Y5
NET "TDC4_TXB_TRG<2>"            LOC = "W10";   #J2_021_W10_L50P
NET "TDC4_TXC_TRG<2>"             LOC = "R8"; 	#J1_099_R8
NET "TDC4_TXD_TRG<2>"				LOC = "R5";		#J1_026_R5
#####
NET "TDC1_TXA_TRG<3>"            LOC = "W16";   #J2_037_W16_L19P
NET "TDC1_TXB_TRG<3>"            LOC = "D24";   #J4_007_D24
NET "TDC1_TXC_TRG<3>"            LOC = "AA13";  #J2_033_AA13_L36N
NET "TDC1_TXD_TRG<3>"				LOC = "H5";		#J3_021_H5

NET "TDC2_TXA_TRG<3>"            LOC = "AC6";   #J2_015_AC6_L53N
NET "TDC2_TXB_TRG<3>"            LOC = "F26";   #J4_103_F26
NET "TDC2_TXC_TRG<3>"            LOC = "AB21";  #J2_047_AB21_L15N
NET "TDC2_TXD_TRG<3>"				LOC = "E4";		#J3_101_E4

NET "TDC3_TXA_TRG<3>"            LOC = "P6";  	#J1_106_P6
NET "TDC3_TXB_TRG<3>"            LOC = "H26";   #J4_099_H26
NET "TDC3_TXC_TRG<3>"				LOC = "R2";		#J1_042_R2
NET "TDC3_TXD_TRG<3>"				LOC = "F1";		#J1_010_F1

NET "TDC4_TXA_TRG<3>"            LOC = "Y5";  	#J1_081_Y5
NET "TDC4_TXB_TRG<3>"            LOC = "W10";   #J2_021_W10_L50P
NET "TDC4_TXC_TRG<3>"             LOC = "R8"; 	#J1_099_R8
NET "TDC4_TXD_TRG<3>"				LOC = "R5";		#J1_026_R5

#####
NET "TDC1_TXA_TRG<4>"            LOC = "W16";   #J2_037_W16_L19P
NET "TDC1_TXB_TRG<4>"            LOC = "D24";   #J4_007_D24
NET "TDC1_TXC_TRG<4>"            LOC = "AA13";  #J2_033_AA13_L36N
NET "TDC1_TXD_TRG<4>"				LOC = "H5";		#J3_021_H5

NET "TDC2_TXA_TRG<4>"            LOC = "AC6";   #J2_015_AC6_L53N
NET "TDC2_TXB_TRG<4>"            LOC = "F26";   #J4_103_F26
NET "TDC2_TXC_TRG<4>"            LOC = "AB21";  #J2_047_AB21_L15N
NET "TDC2_TXD_TRG<4>"				LOC = "E4";		#J3_101_E4

NET "TDC3_TXA_TRG<4>"            LOC = "P6";  	#J1_106_P6
NET "TDC3_TXB_TRG<4>"            LOC = "H26";   #J4_099_H26
NET "TDC3_TXC_TRG<4>"				LOC = "R2";		#J1_042_R2
NET "TDC3_TXD_TRG<4>"				LOC = "F1";		#J1_010_F1

NET "TDC4_TXA_TRG<4>"            LOC = "Y5";  	#J1_081_Y5
NET "TDC4_TXB_TRG<4>"            LOC = "W10";   #J2_021_W10_L50P
NET "TDC4_TXC_TRG<4>"             LOC = "R8"; 	#J1_099_R8
NET "TDC4_TXD_TRG<4>"				LOC = "R5";		#J1_026_R5













############################################
#analog MUX lines for ADC readout of MPPC currents
############################################

NET TDC_AMUX_S<0>			LOC= Y17;	                          
NET TDC_AMUX_S<1>			LOC= AA17;	                          
NET TDC_AMUX_S<2>			LOC= AA8;	                          
NET TDC_AMUX_S<3>			LOC= Y9;	 
                     
NET TOP_AMUX_S<0>			LOC= N18;	                          
NET TOP_AMUX_S<1>			LOC= T19;	                          
NET TOP_AMUX_S<2>			LOC= V12;	                          
NET TOP_AMUX_S<3>			LOC= W12;	                          

######################################################################
#RAM for pedestals
#############################################
 
NET RAM_CE1n				LOC= J15  | IOSTANDARD = LVCMOS33;		                           
NET RAM_CE2					LOC= H19  | IOSTANDARD = LVCMOS33;		                             
NET RAM_OEn					LOC= H15  | IOSTANDARD = LVCMOS33;			                                   
NET RAM_WEn					LOC= G19  | IOSTANDARD = LVCMOS33;		   


NET RAM_IO<0>				LOC= G15  | IOSTANDARD = LVCMOS33;
NET RAM_IO<1>				LOC= F15  | IOSTANDARD = LVCMOS33;
NET RAM_IO<2>				LOC= K14  | IOSTANDARD = LVCMOS33;
NET RAM_IO<3>				LOC= H14  | IOSTANDARD = LVCMOS33;
NET RAM_IO<4>				LOC= F14  | IOSTANDARD = LVCMOS33;
NET RAM_IO<5>				LOC= E14  | IOSTANDARD = LVCMOS33;
NET RAM_IO<6>				LOC= B14  | IOSTANDARD = LVCMOS33;
NET RAM_IO<7>				LOC= A14  | IOSTANDARD = LVCMOS33;
                                      
NET RAM_A<0>				LOC= F16  | IOSTANDARD = LVCMOS33;
NET RAM_A<1>				LOC= B23  | IOSTANDARD = LVCMOS33;
NET RAM_A<2>				LOC= A23  | IOSTANDARD = LVCMOS33;
NET RAM_A<3>				LOC= B22  | IOSTANDARD = LVCMOS33;
NET RAM_A<4>				LOC= A22  | IOSTANDARD = LVCMOS33;
NET RAM_A<5>				LOC= D21  | IOSTANDARD = LVCMOS33;
NET RAM_A<6>				LOC= C21  | IOSTANDARD = LVCMOS33;
NET RAM_A<7>				LOC= B21  | IOSTANDARD = LVCMOS33;
NET RAM_A<8>				LOC= F18  | IOSTANDARD = LVCMOS33;
NET RAM_A<9>				LOC= E18  | IOSTANDARD = LVCMOS33;
NET RAM_A<10>				LOC= J17  | IOSTANDARD = LVCMOS33;
NET RAM_A<11>				LOC= H17  | IOSTANDARD = LVCMOS33;
NET RAM_A<12>				LOC= G17  | IOSTANDARD = LVCMOS33;
NET RAM_A<13>				LOC= F17  | IOSTANDARD = LVCMOS33;
NET RAM_A<14>				LOC= J16  | IOSTANDARD = LVCMOS33;
NET RAM_A<15>				LOC= G16  | IOSTANDARD = LVCMOS33;
NET RAM_A<16>				LOC= H13  | IOSTANDARD = LVCMOS33;
NET RAM_A<17>				LOC= F20  | IOSTANDARD = LVCMOS33;
NET RAM_A<18>				LOC= E20  | IOSTANDARD = LVCMOS33;
NET RAM_A<19>				LOC= H18  | IOSTANDARD = LVCMOS33;
NET RAM_A<20>				LOC= F19  | IOSTANDARD = LVCMOS33;
NET RAM_A<21>				LOC= J13  | IOSTANDARD = LVCMOS33;
            
##########################################################################################


#ETHERNET TIMING STUFF:

#NET "u_eth_top/udp_/axi_tclk_1" TNM_NET = "ETH_USR_CLK";
NET "u_ethernet_readout_interface/gen_udp_block.u_eth_top/trx_udp_clock" TNM_NET = "ETH_USR_CLK";
TIMESPEC TS_ETH_USR_CLK = PERIOD "ETH_USR_CLK" 8 ns high 50%;
#
#NET "eth_1/board_clkp" TNM_NET = "board_CLK";
#TIMESPEC TS_board_CLK = PERIOD "board_CLK" 8 ns high 50%;


#NET "u_eth_top/eth_1/clkin" TNM_NET = "clkin";
#TIMESPEC "TS_clkin" = PERIOD "clkin" 8 ns HIGH 50 %;

#INST "eth_1/core_wrapper/transceiver_inst/GTP_1000X/tile0_pcs_pma_s6_gtpwizard_i/gtpa1_dual_i" LOC = "GTPA1_DUAL_X0Y0";


NET "*s_axi_aclk"                 TNM_NET  = "clk_axi";
#TIMESPEC "TS_axi_clk"      = PERIOD "clk_axi" 8000 ps HIGH 50 %;
TIMESPEC "TS_gtxtocpu" = FROM "clk_gtx" TO "clk_axi" TIG;
TIMESPEC "TS_cputogtx" = FROM "clk_axi" TO "clk_gtx" TIG;


#INST "*gmii_txd*"                                               IOB = true;
#INST "*gmii_tx_en"                                              IOB = true;
#INST "*gmii_tx_er"                                              IOB = true;
#
#INST "*gmii_rxd_int*"                                           IOB = true;
#INST "*gmii_rx_dv_int"                                          IOB = true;
#INST "*gmii_rx_er_int"                                          IOB = true;

INST "*user_side_FIFO/tx_fifo_i/rd_tran_frame_tog"              TNM = "tx_fifo_rd_to_wr";
INST "*user_side_FIFO/tx_fifo_i/rd_addr_txfer*"                 TNM = "tx_fifo_rd_to_wr";
INST "*user_side_FIFO/tx_fifo_i/rd_txfer_tog"                   TNM = "tx_fifo_rd_to_wr";

INST "*user_side_FIFO/tx_fifo_i/wr_frame_in_fifo"               TNM = "tx_fifo_wr_to_rd";

TIMESPEC "TS_tx_fifo_rd_to_wr"   = FROM "tx_fifo_rd_to_wr" TO "clk_gtx" 7800 ps DATAPATHONLY;
TIMESPEC "TS_tx_fifo_wr_to_rd"   = FROM "tx_fifo_wr_to_rd" TO clk_tx_mac 7800 ps DATAPATHONLY;

# Reduce clock period to allow for metastability settling time

# constrain the input to this register - this is a multicycle path due to the
# resync of the control
INST "*user_side_FIFO/tx_fifo_i/rd_addr_txfer*"                 TNM = "tx_addr_rd";
INST "*user_side_FIFO/tx_fifo_i/wr_rd_addr*"                    TNM = "tx_addr_wr";

TIMESPEC "TS_tx_fifo_addr"       = FROM "tx_addr_rd" TO "tx_addr_wr" 10ns;


## RX Client FIFO
# Group the clock crossing signals into timing groups
INST "*user_side_FIFO/rx_fifo_i/wr_store_frame_tog"             TNM = "rx_fifo_wr_to_rd";
INST "*user_side_FIFO/rx_fifo_i/rd_addr*"                       TNM = "rx_fifo_rd_to_wr";

TIMESPEC "TS_rx_fifo_wr_to_rd"   = FROM "rx_fifo_wr_to_rd" TO "clk_gtx" 7800 ps DATAPATHONLY;
TIMESPEC "TS_rx_fifo_rd_to_wr"   = FROM "rx_fifo_rd_to_wr" TO "clk_rx" 7800 ps DATAPATHONLY;


#INST "*trimac_core*FLOW*PAUSE_REQ_TO_TX*"                        TNM="flow_rx_to_tx";
#INST "*trimac_core*FLOW*PAUSE_VALUE_TO_TX*"                      TNM="flow_rx_to_tx";
#TIMESPEC "TS_flow_rx_to_tx"      = FROM "flow_rx_to_tx" TO clk_tx_mac 7800 ps DATAPATHONLY;

# generate a group of all flops NOT in the axi clock domain
TIMEGRP "ffs_except_axi"        = FFS EXCEPT "clock_generator_clkout1" "mdio_logic";
TIMESPEC "TS_config_to_all"      = FROM "clock_generator_clkout1" TO "ffs_except_axi" TIG;


## Ignore stats serialiser clock crossing as handled by toggle sync
#INST "*x_stats_shift*"                                           TNM="sync_ok";
#TIMESPEC "TS_rxstats_sync" = FROM "clk_rx" TO "sync_ok"          TIG;
#TIMESPEC "TS_txstats_sync" = FROM "clk_tx_mac" TO "sync_ok"      TIG;

## Ignore pause deserialiser as only present to prevent logic stripping
#INST "eth_1/trimac_fifo_block/pause_val"                                                TNM="pause_dsr";
#INST "eth_1/trimac_fifo_block/pause_req"                                                TNM="pause_dsr";
#TIMESPEC "TS_pause_dsr" = FROM "pause_dsr"                       TIG;

# Statistics counters
# need to ignore standard sync logic
#INST "*trimac_core*STATGEN*request_toggle*"                      TNM="stats_host_to_ref";
#TIMESPEC "TS_stats_host_to_ref"  = FROM "stats_host_to_ref" TO "clk_gtx" 8000 ps DATAPATHONLY; 

# Also ignore paths from ref clock to axi and back
#INST "*trimac_core*STATGEN*ipic_rd_clear*"                       TNM="stats_ref_to_host";
#INST "*trimac_core*STATGEN*response_toggle*"                     TNM="stats_ref_to_host";
#INST "*trimac_core*STATGEN*rd_data_ref*"                         TNM="stats_ref_to_host";
#TIMESPEC "TS_stats_ref_to_host"  = FROM "stats_ref_to_host" TO "clock_generator_clkout1" 8000 ps DATAPATHONLY; 

#INST "*trimac_core*STATGEN*ipic_rd_clear*"                       TNM="stats_addr";
#INST "*trimac_core*STATGEN*rd_data_ref*"                         TNM="stats_addr";
#TIMESPEC "TS_stats_addr"         = FROM "clock_generator_clkout1" TO "stats_addr" 8000 ps DATAPATHONLY; 

#INST "*/data_sync"                                                TNM = "resync_reg";
#INST "*/reset_sync*"                                              TNM = "resync_reg";
#TIMESPEC "ts_resync_flops"       = TO "resync_reg" TIG;


############################################################
# MDIO Constraints: please do not edit                     #
############################################################

# Place the MDIO logic in it's own timing groups
#INST "*trimac_core*MANIFGEN*ENABLE_REG*"                          TNM = "mdio_logic";
#INST "*trimac_core*MANIFGEN*READY_INT*"                           TNM = "mdio_logic";
#INST "*trimac_core*MANIFGEN*STATE_COUNT*"                         TNM = FFS "mdio_logic";
#INST "*trimac_core*MANIFGEN*MDIO_TRISTATE*"                       TNM = "mdio_logic";
#INST "*trimac_core*MANIFGEN*MDIO_OUT*"                            TNM = "mdio_logic";
#
#TIMESPEC "TS_mdio"              = PERIOD "mdio_logic" "TS_clock_generator_clkout1" * 40 PRIORITY 0;










